.App {
  text-align: center;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

.body-container {
  /* background-color: aqua; */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.main-section {
  display: flex;
  flex-flow: column wrap;
  background-color: aqua;
  /* border: 1px solid black; */
}
